#burgerimg {
  width: 100%;
}

body {
  background-image: url("/assets/img/burger_bg.png");
  margin-top: 10px;
}

header {
  background: #222222;
  color: white;
}

.container {
  background: white;
  padding: 10px;
  border: 5px solid #222222;
  opacity: 0.95;
}

ul {
  padding-left: 0px !important;
}

button {
  background: #222222;
  color: white;
  font-size: 15px;
}

#add {
  font-size: 20px;
}
